---
interface Props {
	name:string
}

const { name }= Astro.props;


---
<div>
    <h1>Bienvenido a mi pagina { name }</h1>
    <slot />
</div>
<style>
    h1{
        color:aqua;
        font-weight: 600;
    }
</style>