---

const {h3Text, title, alt} =Astro.props
---

<div>
    <ol>
        <li>
            <h3>{h3Text}</h3>
            <a href="https://www.google.com", title={title}>Ir a google</a>
        </li>
        <li>
            <h3>Adios</h3>
            <a href="https://www.amazon.es"><img src="../components/foto.webp", alt={alt} title={title}></a>
        </li>
    </ol>
</div>