<div>
    <ol>
        <li>
            <h3>Hola</h3>
            <a href="https://www.google.com">Ir a google</a>
        </li>
        <li>
            <h3>Adios</h3>
            <a href="https://www.amazon.es"><img src="../components/foto.webp"></a>
        </li>
    </ol>
</div>