---
const {name, nickname}=Astro.props;
---

<div class="perfil">
    <h2 class="name-perfil">{name}</h2>
    <p class="texto-perfil">{nickname}</p>
    <slot class="image-perfil" />
</div>
<style>
    .perfil{
        border: 1px solid #000;
        padding:5px;
        border-radius: 5px;
        max-width: 80px;
        max-height: 40px;
        
    }
    .name-perfil{
        display: flex;
        text-align: right;
        text-justify: right;
        font-size:10px;
        justify-content: flex-end;

    }
    .texto-perfil{
        display:flex;
        text-align:right;
        text-justify: right;
        font-size:6px;
        justify-content: flex-end;
    }
    .image-perfil{
        display:flex;
        justify-self: start;
        justify-content: flex-start;
        justify-content: top;
    }

</style>