---
interface Props {
    href:string
    texto:string
}
const {href, texto}=Astro.props
---


<div class="tarjeta">
    <a href={href} target="_blank">
        <img src="https://via.placeholder.com/300x200" alt="Imagen de ejemplo">
        <slot>
            <p>Aqui deberia ir una tabla</p>
        </slot>
        <h3>{texto}</h3>
    </a>
</div>
<style>
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    
}

.tarjeta {
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    text-align: center;
    transition: transform 0.3s ease;
}

.tarjeta:hover {
    transform: translateY(-5px);
}

.tarjeta a {
    color: white;
    text-decoration: none;
}

.tarjeta img {
    width: 100%;
    height: auto;
}

.tarjeta h3 {
    margin: 15px 0;
}
</style>